@import url('https://fonts.googleapis.com/css?family=Roboto:900');

.calc
{
	background-color: #838383;
	margin: 5rem;
	border: 1px solid #000;
	padding: 2rem;
	max-width: 300px;
	border: 10px ridge grey;
}

.display
{
	background-color: white;
	border-radius: 4px;
	z-index: 30;
	padding: 0.5rem 1rem;
	margin: 0 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: flex-end;
	width: 300px;
}

.keycalc
{
	background-color: #6a8e9c;
	border: 10px groove grey;
	text-shadow:0 1px 0 white;
	z-index: 30;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

.keycalc:hover
{
	cursor: pointer;
	background-color: #4e6a76;
}